.app-container {
    height: 100%;
    display: flex;
}

.app-code {
    display: flex;
    flex-direction: column;
}

.app-log {
    border: 1px solid black;
    font-family: monospace;
    margin: 0 10px;
    padding: 5px 10px;
    width: 100%;
    overflow-y: auto;
}

.app-log-line {
    padding: 2px 0;
}
