.algo-container {
  border: 1px solid #ccc;
  max-height: 80vh;
  min-height: 80vh;
  overflow: auto;
  padding: 16px;

  /* ecmascript spec font */
  font-family: Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
}

.algo-step {
  white-space: pre-wrap;
}

.algo-step.highlight {
  background-color: #E9FBE9;
}

.algo-step emu-val {
  font-weight: bold;
}

.algo-step var {
  color: #2aa198;
  transition: background-color 0.25s ease;
}

.algo-step code {
  font-weight: bold;
  font-family: Consolas, Monaco, monospace;
  white-space: pre;
}

.algo-step emu-const {
  font-family: sans-serif;
}

.algo-step emu-nt {
  display: inline-block;
  font-style: italic;
  white-space: nowrap;
  text-indent: 0;
}

.algo-step a {
  text-decoration: none;
  color: #206ca7;
}

.algo-step a:visited {
  color: #206ca7;
}

.algo-step a:hover {
  text-decoration: underline;
  color: #239dee;
}
