.algo-container {
  border: 1px solid #ccc;
  max-height: 80vh;
  min-height: 80vh;
  overflow: auto;
  padding: 16px;
}

.algo-step {
  white-space: pre-wrap;
}

.algo-step.highlight {
  background-color: #E9FBE9;
}
