.heap-viewer-container {
  height: 25vh;
  width: 100%;
  overflow: auto;
}

.heap-viewer-obj-wrapper {
  background-color: #eee;
  padding: 8px;
  margin: 0;
}

.heap-viewer-obj-wrapper pre {
  margin: 0;
  white-space: pre-wrap;
}
