.editor-wrapper {
  max-height: 80vh;
  min-height: 80vh;
  overflow: auto;
  border: 1px solid #ccc;
}
.editor {
  counter-reset: line;
}

.editor #editor-textarea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editor-line {
  position: absolute;
  left: 0px;
  color: #aaa;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.editor-line-break {
  position: absolute;
  left: 0px;
  background-color: #ff0000;
  color: #ffffff;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.editor-container {
  background-color: #fff;
  padding: 8px;
}
