.JSenv-viewer-container {
    height: 25vh;
    width: 100%;
    display: flex;
}

.JSenv-viewer-stack-table-container {
    height: 25vh;
    max-height: 25vh;
    flex: 1;
}

.JSenv-stack {
    cursor: pointer;
}
  
.JSenv-stack.highlight {
    background-color: #E9FBE9;
} 

.JSenv-viewer-item-table-container {
    height: 25vh;
    max-height: 25vh;
    flex: 1;
}

.JSenv-item {
    cursor: pointer;
}