.stackframe-container {
  height: 25vh;
  width: 100%;
}

.stackframe-table-container {
  height: 25vh;
  max-height: 25vh;
}

.stackframe-item {
  cursor: pointer;
}

.stackframe-item.highlight {
  background-color: #E9FBE9;
}

