.watcher-container {
  height: 25vh;
}

.watcher-tabs {
  min-height: 4vh !important;
  max-height: 4vh !important;
}

.watcher-tab-item {
  min-height: 4vh !important;
  max-height: 4vh !important;
}

.watcher-panel-container {
  height: 21vh;
}
