*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
*.swp
*.swo
.history

## ASE
src/main/scala/kr/ac/kaist/ase/model
src/main/scala/kr/ac/kaist/ase/algorithm/rule

## macOS
.DS_Store

## tests
tests/detail
tests/test262.json
tests/result/test262Test_*

## Core latex/pdflatex auxiliary files:
*.aux
*.bak
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Generated pdf file
main.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
