*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
*.swp
.history
src/main/scala/kr/ac/kaist/ase/model
src/main/scala/kr/ac/kaist/ase/algorithm/rule
