[submodule "ires"]
	path = ires
	url = https://github.com/kaist-plrg/ires
[submodule "ecma262"]
	path = ecma262
	url = https://github.com/tc39/ecma262
[submodule "proposals"]
	path = proposals
	url = https://github.com/tc39/proposals
